
input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    
  }
  label{
    font-family: 'Times New Roman', Times, serif;
    color:indigo;
  }
  .container{
    margin-top: 100px;
  }
  footer{
    background-color:#8AB6F9 ;
  }